.starstruck-aside {
	border-inline-start: 0.25rem solid;
	color: var(--sl-color-white);
	@apply px-4 py-px;
}
.starstruck-aside--note {
	--sl-color-asides-text-accent: var(--sl-color-blue-high);
	border-color: var(--sl-color-blue);
	background-color: var(--sl-color-blue-low);
}
.starstruck-aside--tip {
	--sl-color-asides-text-accent: var(--sl-color-purple-high);
	@apply bg-purple-500/20 border-purple-500;
}
.starstruck-aside--caution {
	--sl-color-asides-text-accent: var(--sl-color-orange-high);
	border-color: var(--sl-color-orange);
	background-color: var(--sl-color-orange-low);
}
.starstruck-aside--danger {
	--sl-color-asides-text-accent: var(--sl-color-red-high);
	border-color: var(--sl-color-red);
	background-color: var(--sl-color-red-low);
}

.starstruck-aside__title {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	font-size: var(--sl-text-h5);
	font-weight: 600;
	line-height: var(--sl-line-height-headings);
	color: var(--sl-color-asides-text-accent);
}

.starstruck-aside__icon {
	font-size: 1.333em;
	width: 1em;
	height: 1em;
}

.starstruck-aside__title + .starstruck-aside__content {
	margin-top: 0.5rem;
}

.starstruck-aside__content a {
	color: var(--sl-color-asides-text-accent);
}
