---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<article
	class="flex flex-col items-center justify-center max-w-2xl mx-auto my-10 space-y-4"
	aria-labelledby="about-astro-heading"
>
	<small id="about-astro-heading" class="text-center">
		{title}
	</small>
	<div class="flex justify-center space-x-10">
		<svg class="h-20" viewBox="0 0 64 79" fill="none" xmlns="http://www.w3.org/2000/svg">
			<g clip-path="url(#clip0_831_2294)">
				<path
					d="M19.9924 65.9282C16.1165 62.432 14.9851 55.0859 16.5999 49.7638C19.3998 53.1193 23.2793 54.1822 27.2977 54.7822C33.5013 55.7081 39.5937 55.3618 45.3565 52.5637C46.0158 52.2434 46.625 51.8174 47.3454 51.386C47.8861 52.9341 48.0268 54.497 47.838 56.0877C47.3787 59.9617 45.4251 62.9542 42.3177 65.2227C41.0752 66.13 39.7604 66.9411 38.4771 67.7967C34.5346 70.4262 33.4679 73.5095 34.9494 77.9946C34.9846 78.1038 35.0161 78.2131 35.0957 78.4797C33.0828 77.5909 31.6124 76.2965 30.4921 74.5946C29.3088 72.7984 28.7458 70.8114 28.7162 68.6615C28.7014 67.6152 28.7014 66.5597 28.5588 65.5282C28.2107 63.0135 27.0144 61.8876 24.7608 61.8227C22.4479 61.7561 20.6183 63.1672 20.1331 65.3893C20.0961 65.5597 20.0424 65.7282 19.9887 65.9263L19.9924 65.9282Z"
					fill="url(#paint0_linear_831_2294)"></path>
				<path
					d="M0.5 51.3932C0.5 51.3932 11.0979 46.2433 21.7254 46.2433L29.7382 21.5069C30.0381 20.3106 30.9141 19.4977 31.9029 19.4977C32.8918 19.4977 33.7677 20.3106 34.0677 21.5069L42.0804 46.2433C54.6672 46.2433 63.3058 51.3932 63.3058 51.3932C63.3058 51.3932 45.3044 2.47586 45.2692 2.37772C44.7526 0.931458 43.8804 0 42.7045 0H21.1032C19.9273 0 19.0903 0.931458 18.5384 2.37772C18.4995 2.47401 0.5 51.3932 0.5 51.3932Z"
					fill="white"></path>
			</g>
			<defs>
				<linearGradient
					id="paint0_linear_831_2294"
					x1="15.8877"
					y1="78.4797"
					x2="53.1292"
					y2="60.6489"
					gradientUnits="userSpaceOnUse"
				>
					<stop stop-color="#D83333"></stop>
					<stop offset="1" stop-color="#F041FF"></stop>
				</linearGradient>
				<clipPath id="clip0_831_2294">
					<rect width="64" height="79" fill="white"></rect>
				</clipPath>
			</defs>
		</svg>
		<svg class="h-20" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 25 26">
			<path
				fill="#fff"
				fill-rule="evenodd"
				d="M15.22 7.77 12.06.94 8.91 7.77l-.15.29L7 6.3a1.18 1.18 0 1 0-1.68 1.68l1.75 1.74-.2.1-.04.02L0 13l6.83 3.16.24.11-1.75 1.76A1.18 1.18 0 1 0 7 19.7l1.76-1.76.15.3 3.15 6.82 3.16-6.83.12-.24 1.71 1.71a1.18 1.18 0 1 0 1.68-1.67L17 16.3l.29-.15L24.13 13 17.3 9.84 17 9.7l1.73-1.73a1.18 1.18 0 1 0-1.68-1.67L15.35 8a4.15 4.15 0 0 1-.12-.21l-.01-.03Zm-3.17.36-.42.9a7.27 7.27 0 0 1-3.55 3.55l-.9.42.9.42a7.27 7.27 0 0 1 3.55 3.55l.42.9.42-.9a7.27 7.27 0 0 1 3.55-3.55l.9-.42-.9-.42a7.27 7.27 0 0 1-3.55-3.55l-.42-.9Z"
				clip-rule="evenodd"></path>
			<path
				fill="url(#a)"
				fill-rule="evenodd"
				d="M15.22 7.77 12.06.94 8.91 7.77l-.15.29L7 6.3a1.18 1.18 0 1 0-1.68 1.68l1.75 1.74-.2.1-.04.02L0 13l6.83 3.16.24.11-1.75 1.76A1.18 1.18 0 1 0 7 19.7l1.76-1.76.15.3 3.15 6.82 3.16-6.83.12-.24 1.71 1.71a1.18 1.18 0 1 0 1.68-1.67L17 16.3l.29-.15L24.13 13 17.3 9.84 17 9.7l1.73-1.73a1.18 1.18 0 1 0-1.68-1.67L15.35 8a4.15 4.15 0 0 1-.12-.21l-.01-.03Zm-3.17.36-.42.9a7.27 7.27 0 0 1-3.55 3.55l-.9.42.9.42a7.27 7.27 0 0 1 3.55 3.55l.42.9.42-.9a7.27 7.27 0 0 1 3.55-3.55l.9-.42-.9-.42a7.27 7.27 0 0 1-3.55-3.55l-.42-.9Z"
				clip-rule="evenodd"></path>
			<path
				fill="#fff"
				d="M22.27 4.43a1.18 1.18 0 1 0-1.67-1.68l-.57.57a1.18 1.18 0 0 0 1.68 1.67l.56-.56Z"></path>
			<path
				fill="url(#a)"
				d="M22.27 4.43a1.18 1.18 0 1 0-1.67-1.68l-.57.57a1.18 1.18 0 0 0 1.68 1.67l.56-.56Z"></path>
			<path
				fill="#fff"
				d="M4.2 5.18c-.46.46-1.2.46-1.67 0l-.56-.56a1.18 1.18 0 0 1 1.67-1.68l.57.57c.46.46.46 1.2 0 1.67Z"
			></path>
			<path
				fill="url(#a)"
				d="M4.2 5.18c-.46.46-1.2.46-1.67 0l-.56-.56a1.18 1.18 0 0 1 1.67-1.68l.57.57c.46.46.46 1.2 0 1.67Z"
			></path>
			<path
				fill="#fff"
				d="M4.2 20.82a1.18 1.18 0 0 0-1.67 0l-.56.56a1.18 1.18 0 0 0 1.67 1.68l.57-.57c.46-.46.46-1.2 0-1.67Z"
			></path>
			<path
				fill="url(#a)"
				d="M4.2 20.82a1.18 1.18 0 0 0-1.67 0l-.56.56a1.18 1.18 0 0 0 1.67 1.68l.57-.57c.46-.46.46-1.2 0-1.67Z"
			></path>
			<path
				fill="#fff"
				d="M22.27 21.57a1.18 1.18 0 0 1-1.67 1.68l-.57-.57a1.19 1.19 0 0 1 1.68-1.67l.56.56Z"
			></path>
			<path
				fill="url(#a)"
				d="M22.27 21.57a1.18 1.18 0 0 1-1.67 1.68l-.57-.57a1.19 1.19 0 0 1 1.68-1.67l.56.56Z"
			></path>
			<defs>
				<linearGradient
					id="a"
					x1="2.5"
					x2="21.61"
					y1="2.65"
					y2="25.4"
					gradientUnits="userSpaceOnUse"
				>
					<stop stop-color="#FCDF9C"></stop>
					<stop offset="1" stop-color="#DA990B"></stop>
				</linearGradient>
			</defs>
		</svg>
	</div>
	<div class="text-center text-zinc-400">
		<slot />
	</div>
</article>
